# Disable PHP Execution in Uploads Directory
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>

Options -Indexes
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|cgi|sh)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
